* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

.container {
    width: 100%;
    margin: auto;
    background-image: url("img/background.jpg");
}

.navigation {
    width: 80%;
    height: 70px;
    display: flex;
    padding: 0 30px;
    margin: auto;
    background-color: black;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    align-items: center;
}

.logo {
    width: 70px;
}

.items-text {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.items-text:hover {
    background-color: yellow;
    color: black;

}