* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url("img/galaxy.jpg"); */
}

.container {
    width: 100%;
    margin: auto;

}

.navigation {
    width: 80%;
    height: 70px;
    border: 1px red solid;
    display: flex;
    padding: 0 30px;
    margin: auto;
    background-color: black;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    border: 1px red solid;
    align-items: center;
}

.logo {
    width: 70px;
}

.items-text {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.items-text:hover {
    background-color: yellow;
    color: black;
    font-family: 'Noto Sans', sans-serif;
}